#my-bookings {
  text-align: left;
}

#my-islands {
  text-align: left;
}


#my-islands-text {
  display: flex;
  justify-content: space-between;
}

#my-bookings-text {
  display: flex;
  justify-content: space-between;
}
