h1 {
  text-align: center;
}

.trip-to {
  margin-top: 40px;
  text-align: center;
}

.trip-details {
  text-align: center;
  margin-top: 60px;
}

.price-details {
  text-align: center;
  margin-top: 50px;
}

#title {
border-bottom: solid rgb(77, 174, 243);
}

.my-bookings {
  text-align:center;
}

// .sticky {
//   position: sticky;
//   top: 0px;
// }

.carousel.full-width {
  width: 100vw;
}
// .booking-container{
//   height: 100%;
// }
