
.icon-bar {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.icon-bar a {
  float: left;
  width: 10%;
  text-align: center;
  padding: 4px 0;
  transition: all 0.3s ease;
  color: black;
  text-decoration: none;
  font-size: 12px;

  i {
    font-size: 18px !important;
  }

}

.icon-bar:hover {
  color: #761717;
}

ol {
  list-style-type: none;
}
