.island-card {
  // border: 1px solid blue;
  .island-details{
    font-size: 20px;
    font-family: $font;
  }
}

i{
  color: #595959;
  font-size: 18px;
}


.review-card{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 420px;
  margin-left: 20px;
}

// .img-card{
//   border: 1px solid red;
// }

// .details-card{
//   border: 1px solid red;
// }

// .booking-form{
//   border: 1px solid red;
// }

// .reviews-card{
//   border: 1px solid red;
// }

// .add-review-form{
//   border: 1px solid red;
// }

// .card{
//   // position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//   padding: 30px;
//   width: 500px;
// }
