.booking-form label{
padding: 3%;
}

.booking-form{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 600px;
  border-radius: 5px;
  margin-top: -52px;
}

.flatpickr-input {
  width: 536px !important;
}
