.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.profile-navbar {
  display: flex;
  align-items: center;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  z-index: 90;
  position: sticky;
  top: 0px;
}

.white-background {
  background-color: rgb(208, 229, 221);
}

.transparent {
  background: transparent;
}
